$md-gray: #555;
$dark-gray: #333;
$light-gray: #e1e1e1;
$lighter-gray: #eaeaea;

$color-primary-0: #6D9EA0;  /* Main Primary color */
$color-primary-1: #7496A7;
$color-primary-2: #487388;
$color-primary-3: #487388;
$color-primary-4: #7496A7;
$color-primary-5: #94B617;

$body-bg: $light-gray;
$panel-bg: $lighter-gray;

$modal-backdrop-bg: #000;
$modal-backdrop-opacity: 0.5;
$modal-content-bg: $light-gray;

$nav-tabs-border-color: #FFF;
$nav-tabs-active-link-bg: $md-gray;