$input-height: 600px;
$input-margin: 20px;


@import "colorScheme";
@import "../../dist/bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@import "codeMirror";
@import "whirlpool";
@import "./codeMirror/theme/blackboard";
@import url(http://fonts.googleapis.com/css?family=PT+Mono);



body {
  font-family: "PT Mono","lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma,sans-serif;
  font-size: 2rem;
}

.navbar-brand {
  font-size: 3rem;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    color: #555;
    background-color: $lighter-gray;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}
.dataInput {
  margin-top: $input-margin;
  // height: 75%;
  // min-height: $input-height - 35px;
  font-family: monospace;
  font-size: 16px;
}
.navbar-brand {
  padding-bottom: 0;
  height: auto;
}
// .visual-container {
//   background-color: #ececec;
// }
.visualButton {
  margin: 5px 5px 5px 10px;
  display: inline;
}
.appContainer {
  padding-top: 3px;
}

// .codeContainer {
//   width: 100%;
//   height: 80%;     // not doing anything
// }
// .codeBox {
//   height: 70%;
// }

.codeButton {
  margin: 5px 5px 5px 10px;
}

.modal-body {
  min-height: 400px;
}

#three-scene {
  background-color: #333333;
  // height: $window-heightpx;
}

#three-modal{
  display:none;
  position:fixed;
  top:50%;
  left:0px;
  height:50%;
  z-index:4;
  color:#fff;
  background:transparent;
  font-family:courier;
  font-size:2em;
  padding:20px;
}
