$input-height: 500px;
$input-margin: 20px;
// var sceneHeight: 

@import "../../dist/bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@import "codeMirror";
@import "./codeMirror/theme/solarized";



body {
  font-family: "Open Sans","lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma,sans-serif;
  font-size: 13px;
}
.dataInput {
  margin-top: $input-margin;
  min-height: $input-height - 35px;
  font-family: monospace;
  font-size: 16px;
}
.navbar-brand {
  padding-bottom: 0;
  height: auto;
}
.visualButton {
  margin: 5px 5px 5px 10px;
  display: inline;
}
.appContainer {
  padding-top: 3px;
}
.codeContainer {
  width: 80%;
  height: 80%;     // not doing anything
}
// .codeBox {
  // height: ...;
// }
.codeButton {
  margin: 5px 5px 5px 10px;
}
#three-scene {
  background-color: #333333;
  // max-height: 
}

#three-modal{
  display:none;
  position:fixed;
  top:50%;
  left:0px;
  height:50%;
  z-index:4;
  color:#fff;
  background:transparent;
  font-family:courier;
  font-size:2em;
  padding:20px;
}
